html,body{
    height: 100%;
}

.grid{
    display: flex;
    height: 100%;
}

.column {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
}

.row {
    flex: 1;
    border-color: black;
    border-style: solid;
    border-radius: 0.1px;
}